
<div class="catagory">
    <span  class="ng-scope">
        <h4 class="glyphicon glyphicon-plus ng-binding"> 
            <span class="bold"> Production Quality </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">05</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">05</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">01</span>
            <span class="blueviolet small glyphicon glyphicon-plus">00</span>
        </h4>
        @Html.Partial("_PartialCompanies/_Departments")
    </span>
    <span  class="ng-scope">
        <h4 class="glyphicon glyphicon-plus ng-binding">
            <span class="bold"> Production Suport Direct </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">05</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">05</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">01</span>
            <span class="blueviolet small glyphicon glyphicon-plus">00</span>
        </h4>
        @Html.Partial("_PartialCompanies/_Departments")
    </span>
    <span  class="ng-scope">
        <h4 class="glyphicon glyphicon-plus ng-binding">  
            <span class="bold"> Production Suport Indirect </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">00</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">00</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">03</span>
            <span class="blueviolet small glyphicon glyphicon-plus">00</span>
        </h4>
        @Html.Partial("_PartialCompanies/_Departments")
    </span>
</div>