<span>
    <span class="ng-scope">
        <h3 class="glyphicon glyphicon-star ng-binding">
            <span class="bold ng-binding"> Lt Col Hasan Mahmud Rtd </span>           
        </h3>
    </span>
</span>