<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <connectionStrings>
      <add name="DefaultConnection" connectionString="server=192.168.10.5;database=Dashboard; Trusted_Connection=False; Connection Timeout=3600; Pooling=false; uid=sa;pwd=sqlbis@^7*;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
